@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: initial;
    margin: 0;
}

.header {
    position: absolute;
    width: 100%;
    margin-top: 40px;
}

.container {
    width: 1200px;
    min-width: 1200px;
    margin: auto;
}

.container-flex{
    display: flex;
    justify-content: space-between;
}

.logo{
    position: relative;
}

.logo__p{
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    top: 29%;
    left: 40%;
    color: #fff;
}

.right-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-box__search{
    padding-right: 45px;
}

.right-box__search:hover{
    cursor: pointer;
}

.right-box__shopping-cart{
    padding-right: 8px;
}

.right-box__shopping-cart:hover{
    cursor: pointer;
}

.right-box__btn_white{
    padding: 8px 20px;
    border: none;
    background: none;
}

.right-box__btn_green{
    padding: 8px 20px;
    border: none;
    background: #156963;
}

.right-box__link_g{
    text-decoration: none;
    color: #156963;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Nunito', sans-serif;  
}

.right-box__link_w{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Nunito', sans-serif;  
}

.general{
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}


.block-info{
    padding-top: 186px;
    padding-left: 70px;
}

.block-info__h1{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 68px;
    line-height: 83px;
    color: #156963;
    margin-bottom: 24px;
}

.block-info__p{
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 32px;
    opacity: 0.8;
    padding-right: 102px;
}

.block-info__bottom{
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
}

.block-info__right-btn{
    padding: 41px 0;

}

.block-info__img{
    display: inline-block;
    padding-right: 2px;
    margin-bottom: 13px;
}

.box-info__images{
    width: 70%;
    height: 70%;
}

.block-info__prev{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 19px;
    color: #333;
}

.block-info__title{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    color: #156963;
}

.block-info__left-btn{
    background: #156963;
}

.block-info__next{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 19px;
    color: #F2F2F2;
    padding-right: 2px;
}

.block-info__left-btn{
    padding: 41px 49px;
}

.block-info__title_white{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    color: #fff;
}

.adv{
    display: flex;
    margin-bottom: 83.5px;
}

.content{
    border: 1px solid #E0E0E0;
    margin-right: 32px;
}

.content:last-of-type{
    margin-right: 0;
}

.content__h2{
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #156963;
    padding: 16px 50px 0 0;
    width: 90px;
}

.content__p{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    padding: 16px 21px 16px 16px;
}

.content__img{
    display: inline-block;
    padding: 16px 16px 0 16px;
}

.content__h2_width{
    width: 140px;
}

.item-head{
    display: flex;
    padding-bottom: 19.5px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 24px;
}

.item-head__h2{
    margin-right: auto;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
}

.item-head__select{
    padding: 8px 12px;
}

.item-head__option{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
}

.item-head__select:focus{
    outline: none;
}

.item{
    display: flex;
    justify-content: space-between;
}

.item-plant__figcaption{
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.item-plant__h2{
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 8px;
}

.item-plant__price{
    font-weight: 600;
}